:root {
    /* Часто :root используется для того, чтобы задавать кастомные свойства - повторяющееся значение, которое можно использовать в разных местах кода. */

    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;
    /*отсутпы сверху и снизу*/

    --color-grey: #f8f9fa;
    --color-white: #ffffff;
    --color-unaccent: #86888a;
    --color-medium: #e8e8e8; 
    --color-dark: #434141;
    /*храним значение цветов в переменных, чтобы повторно использовать ее, а не код цвета*/

    --box-shadow: 1px 1px 1px rgb(169, 169, 169);
    --linear-gradient: linear-gradient(to right, yellow, rgb(119, 255, 0), rgb(50, 238, 50));
    --border-radius: 3px;

}

* {
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
    background-color: var(--color-grey);

}