:root { /* Часто :root используется для того, чтобы задавать кастомные свойства - повторяющееся значение, которое можно использовать в разных местах кода. */
    --color:  rgb(163, 161, 161); /*храним значение цвета в переменной, чтобы повторно использовать ее, а не код цвета*/
}

* {
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
    background-color: var (--color);
}